<div class="hireMeCardHolder">
    <mat-card class="hireMeCards" onclick="window.open('mailto:honeybeetetranine@gmail.com', '_blank')">
        <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>LIVE OR RECORDING SESSION</mat-card-title>
            <mat-card-subtitle>Hire me as a live or session musician</mat-card-subtitle>
            <img mat-card-md-image src="assets/images/HTLogoTransSquare.png" alt="HONEYBEE TETRANINE" class="imgIcon">
        </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <h4>{{sessionAirGigs}}</h4>
        </mat-card-content>
    </mat-card>

</div>