<div class="hireMeCardHolder">
    <mat-card class="hireMeCards" onclick="window.open('https://www.fiverr.com/h_tetranine', '_blank')">
        <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>FIVERR SESSION MUSICIAN</mat-card-title>
            <mat-card-subtitle>Hire me on Fiverr</mat-card-subtitle>
            <img mat-card-md-image src="/assets/images/HTLogoTransSquare.png" alt="HONEYBEE TETRANINE" class="imgIcon">
        </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <h4>{{sessionFiverr}}</h4>
        </mat-card-content>
    </mat-card>
    <mat-card class="hireMeCards" onclick="window.open('https://www.airgigs.com/user/honeybeetetranine', '_blank')">
        <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>AIRGIGS SESSION MUSICIAN</mat-card-title>
            <mat-card-subtitle>Hire me on Airgigs</mat-card-subtitle>
            <img mat-card-md-image src="/assets/images/HTLogoTransSquare.png" alt="HONEYBEE TETRANINE" class="imgIcon">
        </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <h4>{{sessionAirGigs}}</h4>
        </mat-card-content>
    </mat-card>
</div>