<div class="footer">
    <small class="copyrightText">Copyright © 2023. All Rights Reserved</small>
    <small class="buildInfo">Built With <a style="color: red"> ❤ </a> By HONEYBEE TETRANINE</small>
    <!-- <app-sidebar class="socials"></app-sidebar> -->
    <div class="socials">
        <div class="sideBarLinks">
            <a href="https://www.youtube.com/@honeybeetetranine" target="_blank" class="socialLinks YouTube">YouTube</a>
            <a href="https://www.instagram.com/honeybeetetranine/" target="_blank" class="socialLinks Instagram">Instagram</a>
            <a href="https://www.facebook.com/honeybeetetranine/" target="_blank" class="socialLinks Facebook">Facebook</a>
            <a href="https://twitter.com/HTetranine" target="_blank" class="socialLinks Twitter">Twitter</a>
            <a href="mailto:honeybeetetranine@gmail.com" target="_blank" class="socialLinks Email">Email</a>
        </div>
    </div>
</div>
