<div class="guitarLessonsCardHolder">
    <div class="bookClassesContainer">
        <mat-card class="bookClassesCard">
            <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Book one to one classes</mat-card-title>
                <mat-card-subtitle>{{bookClasses}}</mat-card-subtitle>
                <!--<img mat-card-md-image src="assets/images/HTLogoTransSquare.png" alt="HONEYBEE TETRANINE" class="imgIcon">-->
            </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="scheduler">
                <mat-calendar [(selected)]="selected" class="calender_properties"></mat-calendar>
            </mat-card-content>
        </mat-card>
    </div>

      <p>Selected date: {{selected}}</p>
</div>