<div class="socialsContainer">
    <a href="https://www.youtube.com/@honeybeetetranine" target="_blank" class="socialsLogoContainer"><img src="../../../assets/socials/YouTube.png" alt="YouTube" class="socialsLogo"></a>
    <a href="https://www.instagram.com/honeybeetetranine/" target="_blank" class="socialsLogoContainer"><img src="../../../assets/socials/Instagram.jpg" alt="Instagram" class="socialsLogo"></a>
    <a href="https://www.facebook.com/honeybeetetranine/" target="_blank" class="socialsLogoContainer"><img src="../../../assets/socials/Facebook.png" alt="Facebook" class="socialsLogo"></a>
    <a href="https://twitter.com/HTetranine" target="_blank" class="socialsLogoContainer"><img src="../../../assets/socials/Twitter.png" alt="Twitter" class="socialsLogo"></a>
    <a href="mailto:honeybeetetranine@gmail.com" target="_blank" class="socialsLogoContainer"><img src="../../../assets/socials/Mail.png" alt="Mail" class="socialsLogo"></a>
</div>